.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    height: 100dvh;
}
.mainContentContainer {
    height: 100%;
    position: relative;
}
.bottomLeft {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    bottom: 1rem;
    left: 0;
}