.footer {
    display: flex;
    margin-top: auto;
    background: var(--light-layer-1);
}
.footer a {
    display: grid;
    place-items: center;
    flex-grow: 1;
    border: 3px solid var(--light-layer-4);
    outline: 1px dashed var(--light-layer-5);
    outline-offset: -5px;
    position: relative;
}
.footer a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: 
    linear-gradient(90deg, var(--transparent-primary-purple-1) 1px, transparent 1px),
    linear-gradient(180deg, var(--transparent-primary-purple-1) 1px, transparent 1px);
    background-size: 5px 5px;
    -webkit-mask-image: linear-gradient(to right, transparent 0, black 50%, black calc(100% - 50%), transparent 100%);
    mask-image: linear-gradient(to right, transparent 0, black 50%, black calc(100% - 50%), transparent 100%);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}
.footer a img {
    aspect-ratio: 1/1;
    object-fit: contain;
}