.btn {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: .7rem;
    border-radius: 0 100vw 100vw 0;
    padding: .25rem 1rem .25rem .25rem;
    position: relative;

}
.btn::before,
.btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
}
.btn::before {
    z-index: -1;
    background-image: radial-gradient(var(--transparent-primary-purple-2) 1px, transparent 1px);
    background-size: 5px 5px;
    /* -webkit-mask-image: linear-gradient(to right, transparent 0, black 50%, black calc(100% - 50%), transparent 100%), linear-gradient(to top, transparent 0, black 50%, black calc(100% - 50%), transparent 100%);
    mask-image: linear-gradient(to right, transparent 0, black 50%, black calc(100% - 50%), transparent 100%), linear-gradient(to top, transparent 0, black 50%, black calc(100% - 50%), transparent 100%);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    mask-composite: intersect; */
}
.btn::after {
    background: var(--transparent-primary-purple-1);
    background-image: linear-gradient(to right, var(--primary-purple), var(--transparent-primary-purple-1));
    z-index: -2;
}
.progressTxt {
    color: hsla(348, 83%, 47%, 1);
    padding: .125rem .375rem;
    border-radius: 100vw;
    text-shadow: 1px 1px 2px black;
    background: hsla(348, 83%, 47%, .275);
}