.blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    background: rgba(0,0,0,.5);
    backdrop-filter: blur(5px);
    display: grid;
    place-items: center;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: opacity .175s linear;
}
.contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: scale(0);
    transition: transform .175s linear;
    max-width: 30rem;
    width: 100%;
}
.contentContainerOverflow {
    overflow: auto;  
}
/* Closing Header */
.closingHeader {
    padding: .5rem;
    position: relative;
    display: flex;
}
.closingHeader::before,
.closingHeader::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.closingHeader::before {
    background-image: 
    linear-gradient(to right, hsl(0, 0%, 100%) 1px, transparent 1px),
    linear-gradient(to top, hsl(0, 0%, 100%) 1px, transparent 1px);
    background-size: 5px 5px;
    -webkit-mask-image: linear-gradient(to right, transparent 0, white 50%, white calc(100% - 50%), transparent 100%), linear-gradient(to top, transparent 0, white 50%, white calc(100% - 50%), transparent 100%);
    mask-image: linear-gradient(to right, transparent 0, white 50%, white calc(100% - 50%), transparent 100%), linear-gradient(to top, transparent 0, white 50%, white calc(100% - 50%), transparent 100%);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    mask-composite: intersect;
    z-index: -1;
}
.closingHeader::after {
    background: hsl(0, 0%, 60%);
    z-index: -2;
}
.closingHeader button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: hsl(0, 0%, 80%);
    border: 2px solid hsl(0, 0%, 90%);
    outline: 1px dashed hsl(0, 0%, 90%);
    outline-offset: -4px;
    height: 2.5rem;
    text-transform: uppercase;
}
.closingHeader button span {
    color: #000;
    font-size: .7rem;
    font-weight: 600;
    margin-top: 2px;
}
/* Header styling */
.header {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    background: hsl(0, 0%, 80%);
    padding: .5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.infoTab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
    background-color: var(--primary-purple);
    padding: .25rem .5rem;
    position: relative;
    overflow: hidden;
}
.infoTab span:nth-child(2) {
    margin-right: auto;  
    font-weight: 300;
    font-size: .625rem;  
    background: var(--dk-layer-5);
    padding: .125rem .275rem;
    border-radius: 100vw;
    z-index: 1;
}
.infoTab span:nth-child(3) {
    position: absolute;
    top: 50%;
    right: -1rem;
    transform: translateY(-50%);
    font-size: 5rem;
    color: hsl(0, 0%, 80%);
    font-weight: 900;
}
.header .grid {
    display: grid;
    grid-template-columns: 60px 1fr;
    gap: .6rem;
}
.header .grid > div:first-child {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.header .grid > div:first-child button img {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    background-image: linear-gradient(to top right, var(--dk-primary-purple), var(--accent-purple));
    border-radius: 100vw;
}
.header .apContainer {
    display: flex;
    flex-direction: column;
    gap: .3rem;
}
.header .apBar {
    display: flex;
    justify-content: space-between;
    background: var(--dk-layer-1);
    position: relative;
    height: 1rem;
    width: calc(100% - 1rem);
    margin: 0 auto;
}
.header .apAmount {
    text-shadow: 2px 2px 5px #000;
}
.header .apBar img {
    position: absolute;

}
.header .apBar img:first-child {
    top: 50%;
    left: 0;
    transform: translate(-70%, -50%);
}
.header .apBar img:last-child {
    top: 50%;
    right: 0;
    transform: translate(70%, -50%);
}
.header .grid > div:last-child {
    display: flex;
    flex-direction: column;
}
.header .grid > div:last-child .level {
    border: 2px solid var(--accent-purple);
    padding: 0 .5rem;
}
.header .grid > div:last-child * {
    color: #000;
}
.header .grid > div:last-child > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem .125rem .5rem .5rem;
    border: 2px solid var(--accent-purple);
    border-top: none;
    height: 100%;
}
.header > .gridRow {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: .5rem;
}
.header > .gridRow .tab {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .275rem;
    background: var(--accent-purple);
    padding: .275rem;
    font-size: .8rem;
}
.header > .gridRow .tab span {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
.header > .gridRow .tabContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid var(--accent-purple);
    border-top: none;
    padding: .275rem;
}
.header > .gridRow .tabContent span:nth-child(1) {
    color: #000;
    font-weight: 600;
    font-size: 1rem;
}
.header > .gridRow .tabContent span:nth-child(2) {
    color: forestgreen;
    font-size: .7rem;
}
/* Main chunk styling */
.mainContainer {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    background: var(--transparent-primary-purple-1);
}
.mainContainer .title {
    padding: .5rem;
    text-align: center;
    position: relative;
    margin-top: .5rem;
}
.mainContainer .title::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid var(--transparent-accent-purple-1);
    outline: 1px dashed var(--transparent-accent-purple-1);
    outline-offset: -4px;
    background: var(--dk-layer-4);
    z-index: -1;
    -webkit-mask-image: linear-gradient(to right, transparent 0, black 50%, black calc(100% - 50%), transparent 100%);
    mask-image: linear-gradient(to right, transparent 0, black 50%, black calc(100% - 50%), transparent 100%);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}
.mainContainer .griddenPattern {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem .5rem 2rem .5rem;
    position: relative;
}
.mainContainer .griddenPattern::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: var(--transparent-primary-purple-1);
    background-image: 
    linear-gradient(90deg, var(--transparent-primary-purple-1) 1px, transparent 1px),
    linear-gradient(180deg, var(--transparent-primary-purple-1) 1px, transparent 1px);
    background-size: 5px 5px;
    -webkit-mask-image: linear-gradient(to right, transparent 0, black 50%, black calc(100% - 50%), transparent 100%), linear-gradient(to top, transparent 0, black 50%, black calc(100% - 50%), transparent 100%);
    mask-image: linear-gradient(to right, transparent 0, black 50%, black calc(100% - 50%), transparent 100%), linear-gradient(to top, transparent 0, black 50%, black calc(100% - 50%), transparent 100%);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    mask-composite: intersect;
}
.mainContainer .griddenPattern .labelContainer {
    display: flex;
    align-items: center;
    gap: .5rem;
}
.mainContainer .griddenPattern .labelContainer span {
    font-size: .8rem;
}
.mainContainer .griddenPattern .progressContainer {
    display: flex;
    align-items: center;
    gap: .5rem;
}
.mainContainer .griddenPattern .progressContainer > div {
    position: relative;
    height: 1rem;
    width: 100%;
    border-radius: 100vw;
    background: var(--dk-layer-4);
}
.mainContainer .griddenPattern .progressContainer > div::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-radius: inherit;
    background: dodgerblue;
    width: 85%;
    height: 100%;
}
.mainContainer .griddenPattern .progressContainer > .pbtf:before {
    background-image: linear-gradient(to top right, goldenrod, var(--bannana-yellow));
    width: 100%;
}
.mainContainer .griddenPattern .progressContainer > div span {
    position: absolute;
    bottom: -3px;
    right: 0;
    transform: translateY(100%);
    font-size: .8rem;;
}
.mainContainer .actionContainer {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding:  1rem 0;
    font-size: .8rem;
}
.mainContainer .actionContainer > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: auto;
}
.mainContainer .actionContainer button {
    background-image: linear-gradient(to top right, gray, lightgray);
    color: #000;
    font-weight: 700;
    font-size: 1rem;
    max-width: 10rem;
    width: 100%;
    margin-left: auto;
    position: relative;
    z-index: 1;
}
.footer {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    padding: 1rem;
    position: relative;
}
.footer::before,
.footer::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    z-index: -1;
}
.footer::before {
    background: var(--transparent-primary-purple-1);
}
.footer::after {
    background: var(--dk-layer-4);
}
.footer > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top, var(--primary-purple), var(--accent-purple));
    z-index: 1;
    padding: .5rem;
    position: relative;
    font-size: .7rem;

}
.footer > div::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: 
    linear-gradient(90deg, var(--transparent-primary-purple-1) 1px, transparent 1px),
    linear-gradient(180deg, var(--transparent-primary-purple-1) 1px, transparent 1px);
    background-size: 5px 5px;
    -webkit-mask-image: linear-gradient(to right, transparent 0, black 50%, black calc(100% - 50%), transparent 100%);
    mask-image: linear-gradient(to right, transparent 0, black 50%, black calc(100% - 50%), transparent 100%);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}
.footer > div span {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
.plusIcon {
    background: var(--dk-layer-3);
}
@media(max-width: 480px) {
    .infoTab span:nth-child(3) {
        font-size: 2rem;
        right: .275rem;
    }
}
@media(max-height: 700px) {
    .contentContainer {
        height: 100vh;
        height: 100dvh;
    }
}