@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
:root {
    --body-bg: hsl(240, 7%, 6%);
    --default-txt-clr: #f0f0f0;
    --default-ff: "Lexend", sans-serif;

    --bannana-yellow: #ffe28e;

    --lt-layer-1: rgba(255,255,255,.0175);
    --lt-layer-2: rgba(255,255,255,.0275);
    --lt-layer-3: rgba(255,255,255,.0375);
    --lt-layer-4: rgba(255,255,255,.0475);
    --lt-layer-5: rgba(255,255,255,.0575);
    --lt-layer-6: rgba(255,255,255,.0675);
    --lt-layer-7: rgba(255,255,255,.0775);
    --lt-layer-8: rgba(255,255,255,.0875);
    --lt-layer-9: rgba(255,255,255,.0975);

    --dk-layer-1: rgba(0,0,0,.175);
    --dk-layer-2: rgba(0,0,0,.275);
    --dk-layer-3: rgba(0,0,0,.375);
    --dk-layer-4: rgba(0,0,0,.475);
    --dk-layer-5: rgba(0,0,0,.575);
    --dk-layer-6: rgba(0,0,0,.675);
    --dk-layer-7: rgba(0,0,0,.775);
    --dk-layer-8: rgba(0,0,0,.875);
    --dk-layer-9: rgba(0,0,0,.975);

    --transparent-primary-purple-1: hsla(249, 87%, 65%, .175);
    --primary-purple: hsl(249, 87%, 65%);

    --transparent-accent-purple-1: hsla(249, 86%, 80%, .175);
    --accent-purple: hsl(249, 86%, 80%);

    --dk-primary-purple: hsl(249, 87%, 45%);
    --dk-accent-purple: hsl(249, 86%, 60%);
}
body {
    background: var(--body-bg);
}
.wrapper {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}
.a-very-important-tingy-ting {
    -webkit-mask-image: linear-gradient(to right, transparent 0, black 2rem, black calc(100% - 2rem), transparent 100%);
    mask-image: linear-gradient(to right, transparent 0, black 2rem, black calc(100% - 2rem), transparent 100%);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}
.scale-effect {
    transition: transform .125s ease-in-out;
}
.scale-effect:hover,
.scale-effect:active {
    transform: scale(.925);
}
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    /* height: 7.5ex;
    line-height: 2.5ex; */
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
/* Styling Resets */
*, *::before, *::after {
    box-sizing: border-box;
    color: var(--default-txt-clr);
    font-family: var(--default-ff);
}
* {
    margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}
#root, #__next {
    isolation: isolate;
}
button {
    background: none;
    border: none;
    cursor: pointer;
}